#encoding UTF-8
		</div><!-- close div tag from header.html.tmpl -->

		<footer class="site-footer">
			<div class="wrap">
                <div class="row">
                    <div class="col-sm-4 footerLeft">
                        $obs.label.copyright &copy; $current.dateTime.format("%Y") $obs.label.footer_copyright_text
                    </div>
                    <div class="col-sm-5 footerCenter">
                        <strong>$obs.label.footer_disclaimer_text</strong>
                    </div>
                    <div class="col-sm-3 footerRight">
                        weewx theme by <a href="https://github.com/poblabs/weewx-belchertown" target="_blank">Pat O'Brien</a>
                    </div>
                </div>
			</div>
		</footer>
		
		<script type='text/javascript' src='$relative_url/js/responsive-menu.js'></script>
		
		<!-- Belchertown Skin Version: $belchertown_version -->
        <!-- Page Generated: $current.dateTime -->

    </body>
</html>
