
    <footer class="site-footer">
            <div class="wrap">
                <div class="footerLeft">Copyright &copy; $current.dateTime.format("%Y") $Extras.footer_copyright_text</div>
                <div class="footerRight"><strong>Never make important decisions based on info from this website.</strong> weewx theme by <a href="https://obrienlabs.net" target="_blank">Pat O'Brien</a></div>
                <div class="clear"></div>
            </div>
        </footer>

        ## Include the Google Analytics code if the user has supplied an ID:
        #if $Extras.has_key('googleAnalyticsId')
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try{
                var pageTracker = _gat._getTracker("$Extras.googleAnalyticsId");
                pageTracker._trackPageview();
            } catch(err) {}
        </script>
        #end if
        
        <script type='text/javascript' src='$belchertown_root_url/js/responsive-menu.js'></script>
        <script type='text/javascript' src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
        
        <!-- Belchertown Skin Version: $belchertown_version -->

    </body>
</html>
