## Determine initial skin theme CSS class from config
## Auto theme setting determines which CSS class to use based on the hour
#set $bodyTheme = ""
#set $themeSwitchChecked = ""
#if $Extras.theme == "dark"
    #set $bodyTheme = "dark"
    #set $themeSwitchChecked = "checked"
#elif $Extras.theme == "light"
    #set $bodyTheme = "light"
    #set $themeSwitchChecked = ""
#elif $Extras.theme == "auto"
    #import datetime
    #set $now = datetime.datetime.now()
    #set $nowHour = $now.hour
    #set $sunrise_hour = datetime.datetime.fromtimestamp($almanac.sunrise.raw).strftime('%H')
    #set $sunset_hour = datetime.datetime.fromtimestamp($almanac.sunset.raw).strftime('%H')
        ##if $sunrise_hour <= $nowHour < $sunset_hour ## This works but to keep it inline with JavaScript the below works too
        #if int($sunrise_hour) <= int($nowHour) and int($nowHour) < int($sunset_hour)
            #set $bodyTheme = "light"
            #set $themeSwitchChecked = ""
        #else
            ## Night time, use dark mode
            #set $bodyTheme = "dark"
            #set $themeSwitchChecked = "checked"
        #end if
#end if
<!DOCTYPE html>
<html lang="$system_locale_js" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <head >
        <meta charset="UTF-8" />
        <title>$station.location Weather Conditions</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="description" content="Weather conditions for $station.location as observed by a personal weather station and the weewx weather software"/>
        <meta name="robots" content="noodp"/>
        <link rel="canonical" href="$belchertown_root_url/" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="$station.location Weather Conditions" />
        <meta property="og:description" content="Weather conditions for $station.location as observed by a personal weather station and the weewx weather software" />
        <meta property="og:url" content="$belchertown_root_url/" />
        <meta property="og:site_name" content="$station.location Weather Conditions" />

        <link rel='dns-prefetch' href='//code.highcharts.com' />
        <link rel='dns-prefetch' href='//fonts.googleapis.com' />
        <link rel='dns-prefetch' href='//stackpath.bootstrapcdn.com' />
        <link rel='dns-prefetch' href='//cdnjs.cloudflare.com' />

        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700&#038;ver=1.0' type='text/css' media='all' />
        <link rel='stylesheet' href='//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' media='all' />
        <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css?ver=4.7.4' type='text/css' media='all' />
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <link rel='stylesheet' href='//stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css' type='text/css' media='all' />
        <link rel='stylesheet' href='$belchertown_root_url/style.css?ver=#echo int( time.time() ) #' type='text/css' media='all' id="belchertownStyle" />
        <link rel='stylesheet' href='$belchertown_root_url/belchertown-dark.min.css?ver=#echo int( time.time() ) #' type='text/css' media='all' id="belchertownStyle" />
        
        <link rel="manifest" href="$belchertown_root_url/manifest.json">
        <link rel="apple-touch-icon" href="$belchertown_root_url/images/station.png">
        <link rel="apple-touch-icon" sizes="48x48" href="$belchertown_root_url/images/station48.png">
        <link rel="apple-touch-icon" sizes="72x72" href="$belchertown_root_url/images/station72.png">
        <link rel="apple-touch-icon" sizes="96x96" href="$belchertown_root_url/images/station96.png">
        <link rel="apple-touch-icon" sizes="144x144" href="$belchertown_root_url/images/station144.png">
        <link rel="apple-touch-icon" sizes="168x168" href="$belchertown_root_url/images/station168.png">
        <link rel="apple-touch-icon" sizes="192x192" href="$belchertown_root_url/images/station192.png">
        
        <!--[if lt IE 9]>
        <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js'></script>
        <![endif]-->
        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
        #if $page == "home" and $Extras.has_key("mqtt_websockets_enabled") and $Extras.mqtt_websockets_enabled == '1'
        <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"></script>
        #end if
        <script type='text/javascript' src='//code.highcharts.com/stock/highstock.js'></script>
        <script type='text/javascript' src='//code.highcharts.com/highcharts-more.js'></script>
        <script type='text/javascript' src='$belchertown_root_url/js/belchertown.js?#echo int( time.time() )#'></script>
        
        <link rel='shortlink' href='$belchertown_root_url/' />
                
        <link rel="icon" href="$belchertown_root_url/favicon.ico" />
        
        #if $Extras.has_key('googleAnalyticsId')
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=$Extras.googleAnalyticsId"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '$Extras.googleAnalyticsId');
        </script>
        #end if

    </head>

    <body class="page-template-default page full-width-content $bodyTheme" itemscope itemtype="https://schema.org/WebPage">

        <div class="site-container">
            <header class="site-header">
                <div class="wrap">
                    <div class="title-area">
                        <p class="site-title" itemprop="headline">
                            <a href="$belchertown_root_url/">
                                #if $Extras.has_key("logo_image") and $Extras.logo_image != ''
                                <img src="$belchertown_root_url/$Extras.logo_image" title="$station.location Weather Conditions" alt="$station.location Weather Conditions">
                                #else if $Extras.has_key("site_title") and $Extras.site_title != ''
                                $Extras.site_title
                                #end if
                            </a>
                        </p>
                    </div>
                    <div class="widget-area header-widget-area">
                        <section id="nav_menu">
                            <div class="widget-wrap">
                                <nav class="nav-header" itemscope itemtype="https://schema.org/SiteNavigationElement">
                                    <ul id="menu-menu" class="menu genesis-nav-menu">
                                        <!-- class = current-menu-item -->
                                        <li class="menu-item menu-item-home"><a href="$belchertown_root_url" itemprop="url"><span itemprop="name">$obs.label.nav_home</span></a></li>
                                        #if $Extras.has_key('highcharts_enabled') and $Extras.highcharts_enabled == '1'
                                        <li class="menu-item menu-item-1"><a href="$belchertown_root_url/graphs" itemprop="url"><span itemprop="name">$obs.label.nav_graphs</span></a></li>
                                        #end if
                                        <li class="menu-item menu-item-2"><a href="$belchertown_root_url/records" itemprop="url"><span itemprop="name">$obs.label.nav_records</span></a></li>
                                        <li class="menu-item menu-item-3"><a href="$belchertown_root_url/reports" itemprop="url"><span itemprop="name">$obs.label.nav_reports</span></a></li>
                                        <li class="menu-item menu-item-4"><a href="$belchertown_root_url/about" itemprop="url"><span itemprop="name">$obs.label.nav_about</span></a></li>
                                        #if $Extras.has_key('theme_toggle_enabled') and $Extras.theme_toggle_enabled == '1'
                                        <label class="themeSwitchLabel">
                                            <input type="checkbox" id="themeSwitch" $themeSwitchChecked>
                                            <span class="slider round"></span>
                                        </label>
                                        #end if
                                    </ul>
                                </nav>
                            </div>
                        </section>
                    </div>
                </div>
            </header>
            
            
