#encoding UTF-8
## Determine initial skin theme CSS class from config
## Auto theme setting determines which CSS class to use based on the hour
#set $bodyTheme = ""
#set $themeIcon = "fa-moon-o"
#if $Extras.theme == "dark"
    #set $bodyTheme = "dark"
    #set $themeIcon = "fa-sun-o"
#elif $Extras.theme == "light"
    #set $bodyTheme = "light"
    #set $themeIcon = "fa-moon-o"
#elif $Extras.theme == "auto"
    #import datetime
    #set $now = datetime.datetime.now()
    #set $nowHour = $now.hour
    #set $sunrise_hour = datetime.datetime.fromtimestamp($almanac.sunrise.raw).strftime('%H')
    #set $sunset_hour = datetime.datetime.fromtimestamp($almanac.sunset.raw).strftime('%H')
        ##if $sunrise_hour <= $nowHour < $sunset_hour ## This works but to keep it inline with JavaScript the below works too
        #if int($sunrise_hour) <= int($nowHour) and int($nowHour) < int($sunset_hour)
            #set $bodyTheme = "light"
            #set $themeIcon = "fa-moon-o"
        #else
            ## Night time, use dark mode
            #set $bodyTheme = "dark"
            #set $themeIcon = "fa-sun-o"
        #end if
#end if

## Setup the header labels, setting a default if not defined
#if $obs.label.html_title == "" 
#set $head_title = $station.location + " Weather Conditions"
#else
#set $head_title = $obs.label.html_title
#end if

#if $obs.label.html_description == "" 
#set $head_desc = "Weather conditions for " + $station.location + " as observed by a personal weather station and the weewx weather software"
#else
#set $head_desc = $obs.label.html_description
#end if

## Setup the relative URLs. Use . for homepage and .. for anything in a subfolder. 
#if $page == "home"
#set global $relative_url = "."
#else
#set global $relative_url = ".."
#end if


<!DOCTYPE html>
<html lang="$system_locale_js" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <head >
        <meta charset="UTF-8" />
        <title>$head_title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        #set $home_view = $Extras.get("home_view", "dashboard")
        <script>
            // Home page layout: ?view= in the address, else the visitor's last choice, else home_view (see style.css)
            // Visitors who switched units: hide the page until belchertown-units.js has converted it
            try {
                if (localStorage.getItem("belchertown_units") === "alt") {
                    document.documentElement.classList.add("units-pending");
                    setTimeout(function() { document.documentElement.classList.remove("units-pending"); }, 3000);
                }
            } catch (e) {}
            (function() {
                var view = (location.search.match(/[?&]view=([a-z]+)/) || [])[1];
                if (view === "kiosk") { document.documentElement.classList.add("view-kiosk"); return; }
                #if $page == "home"
                var views = ["dashboard", "forecast", "radar", "charts"], root = document.documentElement, source = "url";
                if (views.indexOf(view) < 0) { source = "saved"; try { view = localStorage.getItem("belchertown_view"); } catch (e) {} }
                if (views.indexOf(view) < 0) { source = "default"; view = "$home_view"; }
                root.classList.add("view-" + view);
                root.dataset.viewSource = source;
                root.dataset.viewDefault = "$home_view";
                #end if
            })();
        </script>

        <meta name="description" content="$head_desc"/>
        <meta name="robots" content="noodp"/>
        #if $station.station_url
        #set $canonical_url = ($station.station_url+"/"+$filename).replace("/index.html","/")
        <link rel="canonical" href="$canonical_url" />
        #end if
        <meta property="og:locale" content="$system_locale" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="$head_title" />
        <meta property="og:description" content="$head_desc" />
        #if $station.station_url
        <meta property="og:url" content="$station.station_url" />
        #end if
        <meta property="og:site_name" content="$head_title" />

        <link rel='dns-prefetch' href='//code.highcharts.com' />
        <link rel='dns-prefetch' href='//fonts.googleapis.com' />
        <link rel='dns-prefetch' href='//stackpath.bootstrapcdn.com' />
        <link rel='dns-prefetch' href='//cdnjs.cloudflare.com' />

        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C700&#038;ver=1.0' type='text/css' media='all' />
        <link rel='stylesheet' href='//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' media='all' />
        <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css?ver=4.7.4' type='text/css' media='all' />
        <link rel='stylesheet' href='//stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css' type='text/css' media='all' />
        <link rel='stylesheet' href='$relative_url/style.css?ver=#echo int( time.time() ) #' type='text/css' media='all' id="belchertownStyle" />
        <link rel='stylesheet' href='$relative_url/belchertown-dark.min.css?ver=#echo int( time.time() ) #' type='text/css' media='all' id="belchertownStyle" />
        #if $custom_css_exists
        <link rel='stylesheet' href='$relative_url/custom.css?ver=#echo int( time.time() ) #' type='text/css' media='all' id="belchertownCustomStyle" />
        #end if

        <link rel="manifest" href="$relative_url/manifest.json" crossorigin="use-credentials">
        <link rel="apple-touch-icon" href="$relative_url/images/station.png">
        <link rel="apple-touch-icon" sizes="48x48" href="$relative_url/images/station48.png">
        <link rel="apple-touch-icon" sizes="72x72" href="$relative_url/images/station72.png">
        <link rel="apple-touch-icon" sizes="96x96" href="$relative_url/images/station96.png">
        <link rel="apple-touch-icon" sizes="144x144" href="$relative_url/images/station144.png">
        <link rel="apple-touch-icon" sizes="168x168" href="$relative_url/images/station168.png">
        <link rel="apple-touch-icon" sizes="192x192" href="$relative_url/images/station192.png">
        
        <!--[if lt IE 9]>
        <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js'></script>
        <![endif]-->
        #if $jquery_users
        ## Only for your own .inc files that still use jQuery (jquery = auto); the skin doesn't need it
        <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script type='text/javascript' src='//stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
        #end if
        #set $dayjs = "https://cdnjs.cloudflare.com/ajax/libs/dayjs/" + $dayjs_version
        <script type='text/javascript' src="$dayjs/dayjs.min.js"></script>
        #for $plugin in ["utc", "timezone", "localizedFormat", "advancedFormat", "localeData"]
        <script type='text/javascript' src="$dayjs/plugin/${plugin}.min.js"></script>
        #end for
        #if $dayjs_locale != "en"
        <script type='text/javascript' src="$dayjs/locale/${dayjs_locale}.min.js"></script>
        #end if
        #if $page == "home" and "mqtt_websockets_enabled" in $Extras and $Extras.mqtt_websockets_enabled == '1'
        <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.1.0/paho-mqtt.min.js"></script>
        #end if
        <script type='text/javascript' src='//code.highcharts.com/stock/10/highstock.js'></script>
        <script type='text/javascript' src='//code.highcharts.com/10/highcharts-more.js'></script>
        <script type='text/javascript' src='//code.highcharts.com/10/modules/exporting.js'></script>
        <script type='text/javascript' src='//code.highcharts.com/10/modules/solid-gauge.js'></script>
        #set $js_version = int(time.time())
        <script type='text/javascript' src='$relative_url/js/belchertown-config.js?$js_version'></script>
        <script type='text/javascript' src='$relative_url/js/belchertown.js?$js_version'></script>
        <script type='text/javascript' src='$relative_url/js/belchertown-units.js?$js_version'></script>
        <script type='text/javascript' src='$relative_url/js/belchertown-theme.js?$js_version'></script>
        <script type='text/javascript' src='$relative_url/js/belchertown-forecast.js?$js_version'></script>
        <script type='text/javascript' src='$relative_url/js/belchertown-live.js?$js_version'></script>
        <script type='text/javascript' src='$relative_url/js/belchertown-charts.js?$js_version'></script>
        <script>
            // Set the session variables for the theme
            if ( sessionStorage.getItem('theme') === null ) {
                sessionStorage.setItem('theme', '$Extras.theme');
            }
            if ( sessionStorage.getItem('currentTheme') === null ) {
                sessionStorage.setItem('currentTheme', '$bodyTheme');
            }
        </script>
        
        #if $station.station_url
        <link rel='shortlink' href="$station.station_url" />
        #end if
                
        <link rel="icon" href="$relative_url/favicon.ico" />
        
        #if 'googleAnalyticsId' in $Extras
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=$Extras.googleAnalyticsId"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '$Extras.googleAnalyticsId');
        </script>
        #end if

        #if os.path.exists("header.inc")
        #include "header.inc"
        #end if

    </head>
    
    #set $stickyHeader = "sticky-header" if $Extras.get("sticky_header", "1") == "1" else ""
    <body class="page-template-default page full-width-content $bodyTheme $stickyHeader" itemscope itemtype="https://schema.org/WebPage">
        #if "back_to_top_button_enabled" in $Extras and $Extras.back_to_top_button_enabled == '1'
         <!-- Back to top button -->
        <button type="button" class="btn btn-danger" id="btn-back-to-top">
            <i class="fa fa-arrow-up fa-2x"></i>
        </button>
        #end if
        <div class="site-container">
            <header class="site-header">
                <div class="wrap">
                    <div class="title-area">
                        <p class="site-title" itemprop="headline">
                            <a href="$relative_url/">
                                #if "logo_image_dark" in $Extras and $Extras.logo_image_dark != '' and $bodyTheme == "dark"
                                <img src="$Extras.logo_image_dark" id="logo_image" title="$head_title" alt="$head_title">
                                #elif "logo_image" in $Extras and $Extras.logo_image != ''
                                <img src="$Extras.logo_image" id="logo_image" title="$head_title" alt="$head_title">
                                #else if "site_title" in $Extras and $Extras.site_title != ''
                                $Extras.site_title
                                #end if
                            </a>
                        </p>
                    </div>
                    <div class="widget-area header-widget-area">
                        <section id="nav_menu">
                            <div class="widget-wrap">
                                <nav class="nav-header" itemscope itemtype="https://schema.org/SiteNavigationElement">
                                    <input type="checkbox" id="menu-toggle" class="menu-toggle-state">
                                    <label for="menu-toggle" class="menu-toggle" title="$obs.label.menu_toggle_title" aria-label="$obs.label.menu_toggle_title"><i class="fa fa-bars" aria-hidden="true"></i></label>
                                    <ul id="menu-menu" class="menu genesis-nav-menu responsive-menu">
                                        <!-- class = current-menu-item -->
                                        <li class="menu-item menu-item-home"><a href="$relative_url" itemprop="url"><span itemprop="name">$obs.label.nav_home</span></a></li>
                                        #if 'highcharts_enabled' in $Extras and $Extras.highcharts_enabled == '1'
                                        <li class="menu-item menu-item-1"><a href="$relative_url/graphs/" itemprop="url"><span itemprop="name">$obs.label.nav_graphs</span></a></li>
                                        #end if
                                        <li class="menu-item menu-item-2"><a href="$relative_url/records/" itemprop="url"><span itemprop="name">$obs.label.nav_records</span></a></li>
                                        <li class="menu-item menu-item-3"><a href="$relative_url/reports/" itemprop="url"><span itemprop="name">$obs.label.nav_reports</span></a></li>
                                        <li class="menu-item menu-item-4"><a href="$relative_url/about/" itemprop="url"><span itemprop="name">$obs.label.nav_about</span></a></li>
                                    </ul>
                                </nav>
                                <div class="header-toggles">
                                    #if $page == "home"
                                    <details class="view-picker">
                                        <summary class="wx-icon-button" title="$obs.label.view_toggle_title" aria-label="$obs.label.view_toggle_title"><i class="fa fa-th-large" aria-hidden="true"></i></summary>
                                        <ul class="view-menu">
                                            <li><a href="?view=dashboard" data-view="dashboard"><i class="fa fa-th-large" aria-hidden="true"></i> $obs.label.view_dashboard</a></li>
                                            #if "forecast_enabled" in $Extras and $Extras.forecast_enabled == '1'
                                            <li><a href="?view=forecast" data-view="forecast"><i class="fa fa-calendar" aria-hidden="true"></i> $obs.label.view_forecast</a></li>
                                            #end if
                                            <li><a href="?view=radar" data-view="radar"><i class="fa fa-map-o" aria-hidden="true"></i> $obs.label.view_radar</a></li>
                                            #if 'highcharts_enabled' in $Extras and $Extras.highcharts_enabled == '1'
                                            <li><a href="?view=charts" data-view="charts"><i class="fa fa-line-chart" aria-hidden="true"></i> $obs.label.view_charts</a></li>
                                            #end if
                                        </ul>
                                    </details>
                                    #end if
                                    #if $Extras.get("unit_toggle_enabled", "1") == "1"
                                    <button type="button" id="unitSwitch" class="wx-icon-button wx-unit-button" title="$obs.label.unit_toggle_title" aria-label="$obs.label.unit_toggle_title"><span></span></button>
                                    #end if
                                    #if 'theme_toggle_enabled' in $Extras and $Extras.theme_toggle_enabled == '1'
                                    <button type="button" id="themeSwitch" class="wx-icon-button" title="$obs.label.theme_toggle_title" aria-label="$obs.label.theme_toggle_title"><i class="fa $themeIcon" aria-hidden="true"></i></button>
                                    #end if
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </header>
