#errorCatcher Echo
##
## Specifying an encoding of UTF-8 is usually safe, but if your text is 
## actually in Latin-1, then you should replace the string "UTF-8" with "latin-1"
## If you do this, you should also change the 'Content-Type' metadata below.
#encoding UTF-8
##
#set global $page = "home"

    #include "header.html.tmpl"
      
    <script type="text/javascript">
        var finalRotation;
        #if $Extras.has_key("mqtt_websockets_enabled") and $Extras.mqtt_websockets_enabled == '1'
        var mqttMsg;
        var mqttclient = "website" + Math.floor(Math.random() * 999999999);
        #end if
        var moment_locale = "$system_locale_js";
        moment.locale(moment_locale);
        
        var homepage_graphgroup = "$Extras.highcharts_homepage_graphgroup";
        
        ajaxweewx(); // Initial call to load from weewx (date, daily high, low, etc)
        
        #if $Extras.has_key("forecast_enabled") and $Extras.forecast_enabled == '1'
        // Load forecast
        ajaxforecast(); // Initial call to load forecast data like 8 day outlook, weather icon and observation text
        #end if
        
        #if $Extras.has_key("mqtt_websockets_enabled") and $Extras.mqtt_websockets_enabled == '0' and $Extras.has_key("webpage_autorefresh") and $Extras.webpage_autorefresh != '0'
        // Reload the page on an interval for updated data. This is for non-mqtt websocket websites
        function autoRefreshPage() {
            window.location = window.location.href;
        }
        setInterval('autoRefreshPage()', $Extras.webpage_autorefresh);
        #end if
        
        jQuery(document).ready(function() {
            #if $unit.unit_type.outTemp == "degree_F"
            update_outtemp_F( "$current.outTemp.formatted" );
            #else
            update_outtemp_C( "$current.outTemp.formatted" );
            #end if
            
            rotateThis( "$current.windDir.formatted" );
            
            #if $Extras.has_key('earthquake_enabled') and $Extras.earthquake_enabled == '1'            
            if ( moment.unix( "$earthquake_time" ).isValid() ) {
                // Check that the time is the time (number) and not the "no earthquake available" wording
                jQuery(".earthquake-time").html( moment.unix( "$earthquake_time" ).format( "$obs.label.time_earthquake" ) );
            } else {
                jQuery(".earthquake-time").html( "$earthquake_time" );
            }
            #end if
            
            #if $Extras.has_key('highcharts_enabled') and $Extras.highcharts_enabled == '1'
            var graphgroups_raw = $charts; // All charts and IDs
            var thisPageGraphs = graphgroups_raw[homepage_graphgroup]; // Filter all charts down to the ones we want for this page
            // Loop through the graph groups for this page and add the graph divs to the page
            try {
                thisPageGraphs.forEach( graphID => {
                    jQuery(".graph_outer").append('<div class="col-sm-6"><div id="' + graphID + '" style="width:100%;height:350px;margin-top:20px;"></div></div>');
                });
                showChart(homepage_graphgroup);
            } catch(err) {
                console.log("ERROR: Cannot add graphs from [" + homepage_graphgroup + "] graph group: " + err.message);
            }
            #end if
            
            #if $Extras.has_key("mqtt_websockets_enabled") and $Extras.mqtt_websockets_enabled == '1'
            connect(); // Begin mqtt after weewx initial load
            // If the Restart button is clicked, reconnect to mqtt and update weewx and forecast data
            jQuery(document).on('click', '.restart-interval', function() { 
                ajaxweewx(); // Update weewx data
                #if $Extras.has_key("forecast_enabled") and $Extras.forecast_enabled == '1'
                ajaxforecast(); // Update forecast data
                #end if
                ajaximages(); // Update radar and home page hook "img src" if present
                connect(); // Restart mqtt after weewx data's re-loaded
                #if $Extras.has_key('highcharts_enabled') and $Extras.highcharts_enabled == '1'
                showChart(homepage_graphgroup);
                #end if
            });
            #else
            // MQTT Websockets not enabled, update the Last Updated timestamp with moment.js
            updated = moment.unix( $current.dateTime.raw ).utcOffset($moment_js_utc_offset).format("LL, LTS");
            updated_text = "$obs.label.header_last_updated " + updated;
            jQuery(".updated").html( updated_text );
            #end if
        });
        
    </script>
  
    <div class="site-inner">
        <main class="content">    

            <article class="weewx frontpage" itemscope="" itemtype="http://schema.org/CreativeWork">
            
                <!-- Top bar with city and share -->
                <div class="wx-stn-info-container">
                    <div class="wx-stn-name">
                        <h1>$obs.label.home_page_header</h1>                    
                    </div>
                    <div class="wx-stn-info">
                        $obs.label.powered_by
                    </div>
                    <div class="clear"></div>
                    <!-- Updated time ago -->
                    <div class="updated-wrapper">
                        <div class="onlineMarkerOuter">
                            <span class="loadingMarker" style="display:none"></span>
                            <span class="onlineMarker" style="display:none"></span>
                            <span class="offlineMarker" style="display:none"></span>
                        </div>
                        <div class="updated"></div><!-- AJAX moment.js -->
                    </div>
                    #if $social_html != ""
                    $social_html
                    #end if
                    <div class="clear"></div>
                    #if $Extras.has_key("forecast_alert_enabled") and $Extras.forecast_alert_enabled == '1'
                    <div class="wx-stn-alert"><span class="wx-stn-alert-text"></span></div><!-- AJAX -->
                    #end if
                </div>
                
                <!-- First row with temperature, observation data and radar -->
                <div class="row temperature-row">
                    <div class="col-lg-4 toprow-height">
                        <div class="row obs-row">
                        
                            <!-- Temperature -->
                            <div class="weather-obs-top">
                                <div class="row temp-observation">
                                    <div class="col-sm-5 current_obs_top">
                                        $current_obs_icon
                                    </div>
                                    <div class="col-sm-7 current_temp">
                                        <div class="temp"><div class="outtemp">$current.outTemp</div></div><!-- AJAX -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 current-obs-container">
                                        <div class="current-obs-text">
                                            $current_obs_summary
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        #if $Extras.has_key('show_apptemp') and $Extras.show_apptemp == '1'
                                        <div class="feelslike">$obs.label.feels_like: $current.appTemp.format("%.1f")</div><!-- AJAX -->
                                        #end if
                                        <div class="stn-high-low">
                                            <table class="stn-high-low-table">
                                                <tbody>
                                                    <tr>
                                                        <td class="stn-high-low-table-title">$obs.label.highest_temperature</td>
                                                        <td class="stn-high-low-table-title border-left">$obs.label.lowest_temperature</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="high">$day.outTemp.max.format("%.1f")</td>
                                                        <td class="border-left low">$day.outTemp.min.format("%.1f")</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Wind -->
                        <div class="row windrow">
                            <div class="weather-obs-bottom">
                            <div class="col-sm-12 current_wind">
                                <div class="col-sm-6">
                                    <div class="compass">
                                        <div class="direction">
                                            <span class="curwinddir">
                                            #if $current.windDir.ordinal_compass == "N/A"
                                            --
                                            #else
                                            $current.windDir.ordinal_compass
                                            #end if
                                            </span>
                                            <span class="curwindeg">$current.windDir.format("%.0f")</span>
                                        </div>
                                        <div class="arrow"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6 windspeedtable">
                                    <table class="wind-table">
                                        <tbody>
                                            <tr>
                                                <td class="windtext">$obs.label.wind_speed</td>
                                                <td class="windtext border-left gust">$obs.label.wind_gust</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="curwindspeed">
                                                        $current.windSpeed.toString(useThisFormat="%.1f", addLabel=False, NONE_string="N/A")
                                                    </span>
                                                </td>
                                                <td class="border-left gust">&nbsp;
                                                    <span class="curwindgust">
                                                        $current.windGust.toString(useThisFormat="%.1f", addLabel=False, NONE_string="N/A")
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="mph" colspan="3">$unit.label.windSpeed</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Station observations -->
                    <div class="col-lg-3 current-almanac toprow-height border-left border-right">
                        <div class="station-observations weather-obs-top">
                            <table cellpadding="0" cellspacing="0">
                                <tbody>
                                    $station_obs_html
                                </tbody>
                            </table>
                        </div>                        
                        
                        <!-- Sun and Moon section -->
                        <div class="weather-obs-bottom">
                            <table cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <div class="row small-almanac">
                                                #if $obs.label.sun_and_moon and $obs.label.sun_and_moon != ''
                                                <div class="sun-moon-title">
                                                    $obs.label.sun_and_moon
                                                </div>
                                                #end if
                                                <div class="col-sm-6 sun">
                                                    <span class="sunrise-set-image"><img src="$belchertown_root_url/images/sunrise.png"></span><span class="sunrise-value"></span><!-- moment.js -->
                                                    <br>
                                                    <span class="sunrise-set-image"><img src="$belchertown_root_url/images/sunset.png"></span><span class="sunset-value"></span><!-- moment.js -->
                                                </div>
                                                <div class="col-sm-6 moon">
                                                    <div class="moon-container">
                                                        <span class="moon-icon">
                                                            #if $almanac.moon_index == 0
                                                                <div class='wi wi-moon-alt-new'></div>
                                                            #else if $almanac.moon_index == 1
                                                                <div class='wi wi-moon-alt-waxing-crescent-1'></div>
                                                            #else if $almanac.moon_index == 2
                                                                <div class='wi wi-moon-alt-first-quarter'></div>
                                                            #else if $almanac.moon_index == 3
                                                                <div class='wi wi-moon-alt-waxing-gibbous-3'></div>
                                                            #else if $almanac.moon_index == 4
                                                                <div class='wi wi-moon-alt-full'></div>
                                                            #else if $almanac.moon_index == 5
                                                                <div class='wi wi-moon-alt-waning-gibbous-3'></div>
                                                            #else if $almanac.moon_index == 6
                                                                <div class='wi wi-moon-alt-first-quarter'></div>
                                                            #else if $almanac.moon_index == 7
                                                                <div class='wi wi-moon-alt-waning-crescent-4'></div>
                                                            #end if
                                                        </span>
                                                        <strong><span class="moon-phase">#echo $almanac.moon_phase.title()#</span></strong><!-- AJAX -->
                                                        <br>
                                                        <span class="moon-visible"><strong>$almanac.moon_fullness%</strong> $obs.label.moon_visible</span><!-- AJAX -->
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                                #if os.path.exists("celestial.inc")
                                                <div class="sun-moon-modal"><a href="#almanac" data-toggle="modal" data-target="#almanac">$obs.label.almanac_more_details</a></div>
                                                <!-- Almanac Modal -->
                                                <div class="modal fade" id="almanac" tabindex="-1" role="dialog" aria-labelledby="almanac" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                <h5 class="modal-title" id="almanac">$obs.label.almanac_modal_title</h5>
                                                            </div>
                                                            <div class="modal-body">
                                                                #include "celestial.inc"
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-primary" data-dismiss="modal">$obs.label.close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                #end if
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <!-- Radar image -->
                    <div class="col-lg-5 radar-map toprow-height">
                        $radar_html
                    </div>
                </div>
                <!-- End of first row -->
                
                #if os.path.exists("index_hook_after_station_info.inc")
                <!-- Start of index_hook_after_station_info row -->
                <div class="row index-hook-after-station-info border-bottom">
                    #include "index_hook_after_station_info.inc"
                </div>
                <!-- End of index_hook_after_station_info row -->
                #end if

                #if $Extras.has_key("forecast_enabled") and $Extras.forecast_enabled == '1'
                <!-- Start of second row -->
                <div class="row forecastrow">
                    <!-- Forecast -->
                    <div class="col-lg-12 forecast">
                        <div class="forecast-title">
                            $obs.label.forecast_header <span class="forecast-subtitle"></span><!-- moment.js -->
                        </div>
                        <div class="row forecasts"></div><!-- JS -->
                    </div>        
                </div>
                <!-- End of second row -->
                #end if
                
                #if os.path.exists("index_hook_after_forecast.inc")
                <!-- Start of index_hook_after_forecast row -->
                <div class="row index-hook-after-forecast border-bottom">
                    #include "index_hook_after_forecast.inc"
                </div>
                <!-- End of index_hook_after_forecast row -->
                #end if                        
                
                <!-- Start of third row -->
                <div class="row eq-stats-row">            
                    <!-- Station history -->
                    #if $Extras.has_key('earthquake_enabled') and $Extras.earthquake_enabled == '1'
                    <div class="col-sm-9 stn-quick-stats">
                    #else
                    <div class="col-sm-12 stn-quick-stats">
                    #end if
                        
                        <!-- Quick today stats -->
                        <div class="row">
                            <div class="row">
                                <div class="snapshot-records-text">
                                    $obs.label.weather_snapshots <a href="records">$obs.label.weather_snapshots_link</a>
                                </div>
                                
                                <div class="col-sm-6 stn-quick-stats">
                                    <div class="stats-title">
                                        <span class="snapshot-records-today-header"></span><!-- JS and AJAX -->
                                    </div>
                                    <table>
                                        <tr>
                                            <td><b>$obs.label.snapshot_high:</b></td>    <td><span class="dailystatshigh">$day.outTemp.max</span></td><!-- AJAX -->
                                            <td><b>$obs.label.snapshot_low:</b></td>    <td><span class="dailystatslow">$day.outTemp.min</span></td><!-- AJAX -->
                                        </tr>
                                        <tr>
                                            <td><b>$obs.label.snapshot_today_high_wind:</b></td>    <td><span class="dailystatswind">$day.wind.max</span></td><!-- AJAX -->
                                            <td><b>$obs.label.snapshot_today_high_uv:</b></td>        <td><span class="dailystatsuv">$day.UV.max</span></td><!-- AJAX -->                    
                                        </tr>
                                        <tr>
                                            <td><b>$obs.label.snapshot_today_rain:</b></td>    <td><span class="dailystatsrain">$day.rain.sum</span></td><!-- AJAX -->
                                            <td><b>$obs.label.snapshot_today_rainrate:</b></td>    <td><span class="dailystatsrainrate">$day.rainRate.max</span></td><!-- AJAX -->
                                        </tr>
                                    </table>
                                </div>

                            
                                <!-- Quick this month stats -->
                                <div class="col-sm-6 stn-quick-stats border-left">
                                    <div class="stats-title">
                                        <span class="snapshot-records-month-header">$current.dateTime.format("%B %Y")</span><!-- AJAX -->
                                    </div>
                                    <table>
                                        <tr>
                                            <td><b>$obs.label.snapshot_high:</b></td>    <td>$month.outTemp.max</td>
                                            <td><b>$obs.label.snapshot_low:</b></td>    <td>$month.outTemp.min</td>
                                        </tr>
                                        <tr>
                                            <td><b>$obs.label.snapshot_month_high_wind:</b></td>    <td>$month.wind.max</td>
                                            <td><b>$obs.label.snapshot_month_high_uv:</b></td>        <td>$month.UV.max</td>                                    
                                        </tr>
                                        <tr>
                                            <td><b>$obs.label.snapshot_month_rain:</b></td>        <td>$month.rain.sum</td>
                                            <td><b>$obs.label.snapshot_month_rainrate:</b></td>    <td>$month.rainRate.max</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    #if $Extras.has_key('earthquake_enabled') and $Extras.earthquake_enabled == '1'
                    <!-- Earthquake data -->
                    <div class="col-sm-3 earthquake-container border-left">
                        <div class="eq-title">$obs.label.earthquake_title</div>
                        <div class="eq-region">
                            <span class="earthquake-time"></span><!-- moment.js -->
                            #if $earthquake_place != ''
                            <br>
                            <i class="fa fa-map-marker"></i> <a href="$earthquake_url" target="_blank">$earthquake_place</a>
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="wi wi-earthquake"></i>$obs.label.earthquake_magnitude <span class="magnitude">$earthquake_magnitude</span>
                                </div>
                                <div class="col-sm-6 border-left">
                                    <span>$earthquake_lat &deg;
                                    <br>$earthquake_lon &deg;</span>
                                </div>
                            </div>
                            #end if
                        </div>
                    </div>
                    #end if
                </div>
                <!-- End of third row -->
                
                #if os.path.exists("index_hook_after_snapshot.inc")
                <!-- Start of index_hook_after_snapshot row -->
                <div class="row index-hook-after-snapshot border-bottom">
                    #include "index_hook_after_snapshot.inc"
                </div>
                <!-- End of index_hook_after_snapshot row -->
                #end if                          
                
                #if $Extras.has_key('highcharts_enabled') and $Extras.highcharts_enabled == '1'
                <!-- Begin of fourth row - dynamic charts -->
                <div class="row highcharts-row graph">
                    <div class="col-sm-12 wx-graph-front">
                        <span class="homepage-graphgroup-title">$chartgroup_titles_dict[$Extras.highcharts_homepage_graphgroup]</span> <a href="$belchertown_root_url/graphs">$obs.label.homepage_graphs_link</a>
                    </div>
                    
                    <div class="graph_outer row"></div><!-- JS populated -->
                    
                </div>
                <!-- End of fourth row -->
                #end if
                
                <div class="clear"></div>
                
                #if os.path.exists("index_hook_after_charts.inc")
                <!-- Start of index_hook_after_charts row -->
                <div class="row index-hook-after-charts border-top">
                    #include "index_hook_after_charts.inc"
                </div>
                <!-- End of index_hook_after_charts row -->
                #end if  
                
            </article>

        </main>
    </div>

    #include "footer.html.tmpl"
