#encoding UTF-8
{
  "name": "$Extras.manifest_name",
  "short_name": "$Extras.manifest_short_name",
  "icons": [
    {
      "src": "images/station48.png",
      "type": "image/png",
      "sizes": "48x48"
    },    
    {
      "src": "images/station72.png",
      "type": "image/png",
      "sizes": "72x72"
    },    
    {
      "src": "images/station96.png",
      "type": "image/png",
      "sizes": "96x96"
    },    
    {
      "src": "images/station144.png",
      "type": "image/png",
      "sizes": "144x144"
    },    
    {
      "src": "images/station168.png",
      "type": "image/png",
      "sizes": "168x168"
    },    
    {
      "src": "images/station192.png",
      "type": "image/png",
      "sizes": "192x192"
    }
  ],
  "display": "standalone",
  "start_url": "$station.station_url"
}
