#encoding UTF-8
<p>Welcome to your records page!</p>
<p>To change or remove this text, please change the skins/Belchertown/records.inc file to your about description. Full HTML is accepted.</p>
<p>For an example of what this could say, please see <a href="https://belchertownweather.com/records" target="_blank">https://belchertownweather.com/records</a></p>
