## Copy this file to records-table.inc to add rows to a table under the records cards.
## A <time data-ts="..." data-format="..."> tag shows a date in your locale; data-format is the name of a date label.
            <tr>
                <td class="records-header" colspan=5>$obs.label.records_inTemp_records</td>
            </tr>
            <tr>
                <td colspan=1> </td>
                <td class="records-header-year" colspan=2>$current.dateTime.format("%Y")</td>
                <td class="records-header-alltime" colspan=2>$obs.label.records_all_time</td>
            </tr>
            <tr>
                <td>$obs.label.records_high_inTemp</td>
                <td class="leftborder">$year.inTemp.max</td>
                <td><time data-ts="$year.inTemp.maxtime.raw" data-format="time_records_page_full_date"></time></td>
                <td class="leftborder">$alltime.inTemp.max</td>
                <td><time data-ts="$alltime.inTemp.maxtime.raw" data-format="time_records_page_full_date"></time></td>
            </tr>
            <tr>
                <td>$obs.label.records_low_inTemp</td>
                <td class="leftborder">$year.inTemp.min</td>
                <td><time data-ts="$year.inTemp.mintime.raw" data-format="time_records_page_full_date"></time></td>
                <td class="leftborder">$alltime.inTemp.min</td>
                <td><time data-ts="$alltime.inTemp.mintime.raw" data-format="time_records_page_full_date"></time></td>
            </tr>
