#errorCatcher Echo
[{
"utcoffset": $utcOffset,
"temperatureplot": {"series": 
{"outTemp": { "zIndex": "1", "name": "Max Temperature", "data": $outTempMonthjson}, 
"outTempMin": {"name": "Min Temperature", "data": $outTempMinMonthjson}, 
"dewpoint": {"name": "Dew Point", "data": $dewpointMonthjson}}, 
"yAxisLabel": {"text": #slurp
#if $unit.unit_type_dict.group_temperature == "degree_C"
 "(\u00B0 C)"
#else
 "(\u00B0 F)"
#end if
}}, 
"windchillplot": {"series": 
{"windchill": {"name": "Wind Chill", "data": $windchillMonthjson}, 
"heatindex": {"name": "Heat Index", "data": $heatindexMonthjson}}, 
"yAxisLabel": {"text": #slurp
#if $unit.unit_type_dict.group_temperature == "degree_C"
 "(\u00B0 C)"
#else
 "(\u00B0 F)"
#end if
}}, 
"humidityplot": {"series": 
{"outHumidity": {"name": "Humidity", "data": $outHumidityMonthjson}}
}, 
"barometerplot": {"series": 
{"barometer": {"name": "Barometer", "data": $barometerMonthjson}}, 
"yAxisLabel": {"text": #slurp
#if $unit.unit_type_dict.group_pressure == "hPa"
 "(hPa)"
#elif $unit.unit_type_dict.group_pressure == "inHg"
 "(inHg)"
#elif $unit.unit_type_dict.group_pressure == "mmHg"
 "(mmHg)"
#else
 "(mbar)" 
#end if
}}, 
"windplot": {"series": 
{"windSpeed": {"name": "Max Wind Speed", "data": $windSpeedMonthjson}, 
"windSpeedAvg": {"name": "Average Wind Speed", "data": $windSpeedAvgMonthjson},
"windGust": {"name": "Wind Gust", "data": $windGustMonthjson}}, 
"yAxisLabel": {"text": #slurp
#if $unit.unit_type_dict.group_speed == "km_per_hour"
 "(km/h)"
#elif $unit.unit_type_dict.group_speed == "mile_per_hour"
 "(mph)"
#elif $unit.unit_type_dict.group_speed == "meter_per_second"
 "(m/s)"
#else
 "(knot)"
#end if
}}, 
"winddirplot": {"series": 
{"windDir": {"name": "Wind Direction", "data": $windDirMonthjson}}
}, 
"rainplot": {"series": 
{"rain": {"name": "Rain Rate Max", "data": $rainMonthjson}}, 
"yAxisLabel": {"text": #slurp
#if $unit.unit_type_dict.group_rain == "mm"
 "(mm)"
#elif $unit.unit_type_dict.group_rain == "inch"
 "(in)"
#else
 "(cm)"
#end if
}},
"rainplottotal": {"series": 
{"rain": {"name": "Rainfall Total", "data": $rainMonthTotaljson}}, 
"yAxisLabel": {"text": #slurp
#if $unit.unit_type_dict.group_rain == "mm"
 "(mm)"
#elif $unit.unit_type_dict.group_rain == "inch"
 "(in)"
#else
 "(cm)"
#end if
}},
"radiationplot": {"series": 
{"radiation": {"name": "Solar Radiation", "data": $radiationMonthjson}}
} 
}]