#errorCatcher Echo
[{
"utcoffset": $utcOffset,
"temperatureplot": {"series": 
{"outTemp": {"zIndex": "1", "name": "Temperature", "data": $outTempWeekjson}, 
"dewpoint": {"name": "Dew Point", "data": $dewpointWeekjson}, 
"appTemp": {"name": "Apparent Temperature", "data": $appTempWeekjson}, 
"inTemp": {"name": "Indoor Temperature", "data": $inTempWeekjson}}, 
"yAxisLabel": {"text": #slurp
#if $unit.unit_type_dict.group_temperature == "degree_C"
 "(\u00B0 C)"
#else
 "(\u00B0 F)"
#end if
}}, 
"windchillplot": {"series": 
{"windchill": {"name": "Wind Chill", "data": $windchillWeekjson}, 
"heatindex": {"name": "Heat Index", "data": $heatindexWeekjson}}, 
"yAxisLabel": {"text": #slurp
#if $unit.unit_type_dict.group_temperature == "degree_C"
 "(\u00B0 C)"
#else
 "(\u00B0 F)"
#end if
}}, 
"humidityplot": {"series": 
{"outHumidity": {"name": "Humidity", "data": $outHumidityWeekjson}}
}, 
"barometerplot": {"series": 
{"barometer": {"name": "Barometer", "data": $barometerWeekjson}}, 
"yAxisLabel": {"text": #slurp
#if $unit.unit_type_dict.group_pressure == "hPa"
 "(hPa)"
#elif $unit.unit_type_dict.group_pressure == "inHg"
 "(inHg)"
#elif $unit.unit_type_dict.group_pressure == "mmHg"
 "(mmHg)"
#else
 "(mbar)" 
#end if
}}, 
"windplot": {"series": 
{"windSpeed": {"name": "Wind Speed", "data": $windSpeedWeekjson}, 
"windGust": {"name": "Wind Gust", "data": $windGustWeekjson}}, 
"yAxisLabel": {"text": #slurp
#if $unit.unit_type_dict.group_speed == "km_per_hour"
 "(km/h)"
#elif $unit.unit_type_dict.group_speed == "mile_per_hour"
 "(mph)"
#elif $unit.unit_type_dict.group_speed == "meter_per_second"
 "(m/s)"
#else
 "(knots)"
#end if
}}, 
"winddirplot": {"series": 
{"windDir": {"name": "Wind Direction", "data": $windDirWeekjson}}
}, 
"rainplot": {"series": 
{"rain": {"name": "Rain Rate Max", "data": $rainWeekjson}}, 
"yAxisLabel": {"text": #slurp
#if $unit.unit_type_dict.group_rain == "mm"
 "(mm)"
#elif $unit.unit_type_dict.group_rain == "inch"
 "(in)"
#else
 "(cm)"
#end if
}}, 
"rainplottotal": {"series": 
{"rain": {"name": "Rainfall Total", "data": $rainWeekTotaljson}}, 
"yAxisLabel": {"text": #slurp
#if $unit.unit_type_dict.group_rain == "mm"
 "(mm)"
#elif $unit.unit_type_dict.group_rain == "inch"
 "(in)"
#else
 "(cm)"
#end if
}},
"radiationplot": {"series": 
{"radiation": {"name": "Solar Radiation", "data": $radiationWeekjson}}
}
}]