#errorCatcher Echo
#encoding UTF-8
#set global $page = "about"

    #include "header.html.tmpl"

    <div class="site-inner">
        <div class="content-sidebar-wrap">
            <main class="content">	
                <article class="weewx page type-page status-publish entry" itemscope itemtype="https://schema.org/CreativeWork">
                    <div class="entry-content" itemprop="text">
                    
                            <div class="wx-stn-info-container">
                                <div class="row">
                                    <div class="col-sm-1">
                                        $current_obs_icon
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="wx-stn-name">
                                            <h1>$Extras.about_page_header</h1>
                                        </div>
                                    </div>
                                    <div class="col-sm-5" style="float:right;">
                                        <div class="wx-stn-info">
                                            Observations are powered by a <a href="$belchertown_root_url/about" target="_blank">Personal Weather Station</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1" style="text-align:center;">
                                        $current.outTemp
                                    </div>
                                    #if $social_html != ""
                                    <div class="col-sm-10" style="float:right;">
                                        $social_html
                                    </div>
                                    #end if
                                </div>
                                <div class="clear"></div>
                            </div>

                        #if os.path.exists("about.inc")
                        #include "about.inc"
                        #else
                        #include "about.inc.example"
                        #end if
                    
                    </div>
                </article>
            </main>
        </div>
    </div>


    #include "footer.html.tmpl"
