#errorCatcher Echo
#encoding UTF-8
#set global $page = "graphs"

    #include "header.html.tmpl"

    <div class="site-inner">
        <div class="content-sidebar-wrap">
            <main class="content">	
                <article class="weewx graphs page type-page status-publish entry" itemscope itemtype="https://schema.org/CreativeWork">
                    <div class="entry-content" itemprop="text">

                        <script type="text/javascript">
                            // Document ready calls        
                            jQuery(document).ready(function() {
                            
                                daily(); // Initial load daily highcharts
                                
                                jQuery('button.wx-btn-today').click(function() {
                                    daily(); // Load daily highcharts
                                    jQuery(".wx-graph-text").text("today");
                                    jQuery(".month-year-hide").show();
                                });
                                
                                jQuery('button.wx-btn-week').click(function() {
                                    weekly(); // Load weekly highcharts
                                    jQuery(".wx-graph-text").text("this week");
                                    jQuery(".month-year-hide").show();
                                });
                                
                                jQuery('button.wx-btn-month').click(function() {
                                    monthly(); // Load monthly highcharts
                                    jQuery(".wx-graph-text").text("this month");
                                    jQuery(".month-year-hide").hide();
                                });
                                
                                jQuery('button.wx-btn-year').click(function() {
                                    yearly(); // Load yearly highcharts
                                    jQuery(".wx-graph-text").text("this year");
                                    jQuery(".month-year-hide").hide();
                                });
                            });
                                
                        </script>
                        
                        #include "page-header.inc"

                        <!-- Begin row -->
                        <div class="row">
                            <div class="col-sm-12 wx-buttons">
                                <button type="button" class="btn btn-primary wx-btn-today">Today</button> <button type="button" class="btn btn-primary wx-btn-week">Week</button> <button type="button" class="btn btn-primary wx-btn-month">Month</button> <button type="button" class="btn btn-primary wx-btn-year">Year</button>
                            </div>
                            <div class="col-sm-12 wx-buttons-description">
                                Graphs for <span class='wx-graph-text'>today</span>
                            </div>
                        </div>
                        <!-- End row -->
                                    
                        <div id="$Extras.highcharts_graph_1" style="width:100%; height:350px;"></div>

                        <div id="$Extras.highcharts_graph_2" style="width:100%; height:350px;"></div>

                        <div id="$Extras.highcharts_graph_3" style="width:100%; height:350px;"></div>

                        <div id="$Extras.highcharts_graph_4" style="width:100%; height:350px;"></div>

                        <div id="$Extras.highcharts_graph_5" style="width:100%; height:350px;"></div>

                        <div id="$Extras.highcharts_graph_6" style="width:100%; height:350px;"></div>
                                
                        <div class="clear"></div>
                    
                    </div>
                </article>
            </main>
        </div>
    </div>


    #include "footer.html.tmpl"

