#errorCatcher Echo
##
## Specifying an encoding of UTF-8 is usually safe, but if your text is 
## actually in Latin-1, then you should replace the string "UTF-8" with "latin-1"
## If you do this, you should also change the 'Content-Type' metadata below.
#encoding UTF-8
##
#set global $page = "pi"

## Setup the relative URLs. Use . for homepage and .. for anything in a subfolder. 
#if $page == "home"
#set global $relative_url = "."
#else
#set global $relative_url = ".."
#end if

    #include "pi/pi-header.html.tmpl"
    
        <script type="text/javascript">
        var finalRotation;
        #if $Extras.has_key("mqtt_websockets_enabled") and $Extras.mqtt_websockets_enabled == '1'
        var mqttMsg;
        var mqttclient = "website" + Math.floor(Math.random() * 999999999);
        #end if
        
        jQuery(document).ready(function() {
            #if $unit.unit_type.outTemp == "degree_F"
            update_outtemp_F( "$current.outTemp.formatted" );
            #else
            update_outtemp_C( "$current.outTemp.formatted" );
            #end if
            rotateThis( "$current.windDir.formatted" );
            
            #if $Extras.has_key("mqtt_websockets_enabled") and $Extras.mqtt_websockets_enabled == '1'
            ajaxweewx(); // Initial call. Load from weewx (daily high, low, etc)
            ajaxforecast(); // Initial call. Load forecast data like 8 day outlook, weather icon and observation text
            connect(); // Begin mqtt after weewx initial load
            // If the Restart button is clicked, reconnect to mqtt and update weewx and forecast data
            jQuery(document).on('click', '.restart-interval', function() { 
                ajaxweewx(); // Update weewx data
                ajaxforecast(); // Update forecast data
                connect(); // Restart mqtt after weewx data's re-loaded
            });
            #end if

        });
        
        // Handle wind arrow rotation with the ability to "rollover" past 0 
        // without spinning back around. e.g 350 to 3 would spin back around
        // https://stackoverflow.com/a/19872672/1177153
        function rotateThis(newRotation) {
            if ( newRotation == "N/A") { return; }
            var currentRotation;
            finalRotation = finalRotation || 0; // if finalRotation undefined or 0, make 0, else finalRotation
            currentRotation = finalRotation % 360;
            if ( currentRotation < 0 ) { currentRotation += 360; }
            if ( currentRotation < 180 && (newRotation > (currentRotation + 180)) ) { finalRotation -= 360; }
            if ( currentRotation >= 180 && (newRotation <= (currentRotation - 180)) ) { finalRotation += 360; }
            finalRotation += (newRotation - currentRotation);
            jQuery(".wind-arrow").css( "transform", "rotate(" + finalRotation + "deg)" );
            jQuery(".arrow").css( "transform", "rotate(" + finalRotation + "deg)" );
        }
        
        // Change the color of the outTemp_F variable
        function update_outtemp_F( outTemp ) {
            if ( outTemp <= 0 ) {
                jQuery(".temp").css( "color", "#1278c8" );
            } else if ( outTemp <= 25 ) {
                jQuery(".temp").css( "color", "#30bfef" );
            } else if ( outTemp <= 32 ) {
                jQuery(".temp").css( "color", "#1fafdd" );
            } else if ( outTemp <= 40 ) {
                jQuery(".temp").css( "color", "rgba(0,172,223,1)" );
            } else if ( outTemp <= 50 ) {
                jQuery(".temp").css( "color", "#71bc3c" );
            } else if ( outTemp <= 55 ) {
                jQuery(".temp").css( "color", "rgba(90,179,41,0.8)" );
            } else if ( outTemp <= 65 ) {
                jQuery(".temp").css( "color", "rgba(131,173,45,1)" );
            } else if ( outTemp <= 70 ) {
                jQuery(".temp").css( "color", "rgba(206,184,98,1)" );
            } else if ( outTemp <= 75 ) {
                jQuery(".temp").css( "color", "rgba(255,174,0,0.9)" );
            } else if ( outTemp <= 80 ) {
                jQuery(".temp").css( "color", "rgba(255,153,0,0.9)" );
            } else if ( outTemp <= 85 ) {
                jQuery(".temp").css( "color", "rgba(255,127,0,1)" );
            } else if ( outTemp <= 90 ) {
                jQuery(".temp").css( "color", "rgba(255,79,0,0.9)" );
            } else if ( outTemp <= 95 ) {
                jQuery(".temp").css( "color", "rgba(255,69,69,1)" );
            } else if ( outTemp <= 110 ) {
                jQuery(".temp").css( "color", "rgba(255,104,104,1)" );
            } else if ( outTemp >= 111 ) {
                jQuery(".temp").css( "color", "rgba(218,113,113,1)" );
            }
        }
        
        // Change the color of the outTemp_F variable
        function update_outtemp_C( outTemp ) {
            if ( outTemp <= 0 ) {
                jQuery(".temp").css( "color", "#1278c8" );
            } else if ( outTemp <= -3.8 ) {
                jQuery(".temp").css( "color", "#30bfef" );
            } else if ( outTemp <= 0 ) {
                jQuery(".temp").css( "color", "#1fafdd" );
            } else if ( outTemp <= 4.4 ) {
                jQuery(".temp").css( "color", "rgba(0,172,223,1)" );
            } else if ( outTemp <= 10 ) {
                jQuery(".temp").css( "color", "#71bc3c" );
            } else if ( outTemp <= 12.7 ) {
                jQuery(".temp").css( "color", "rgba(90,179,41,0.8)" );
            } else if ( outTemp <= 18.3 ) {
                jQuery(".temp").css( "color", "rgba(131,173,45,1)" );
            } else if ( outTemp <= 21.1 ) {
                jQuery(".temp").css( "color", "rgba(206,184,98,1)" );
            } else if ( outTemp <= 23.8 ) {
                jQuery(".temp").css( "color", "rgba(255,174,0,0.9)" );
            } else if ( outTemp <= 26.6 ) {
                jQuery(".temp").css( "color", "rgba(255,153,0,0.9)" );
            } else if ( outTemp <= 29.4 ) {
                jQuery(".temp").css( "color", "rgba(255,127,0,1)" );
            } else if ( outTemp <= 32.2 ) {
                jQuery(".temp").css( "color", "rgba(255,79,0,0.9)" );
            } else if ( outTemp <= 35 ) {
                jQuery(".temp").css( "color", "rgba(255,69,69,1)" );
            } else if ( outTemp <= 43.3 ) {
                jQuery(".temp").css( "color", "rgba(255,104,104,1)" );
            } else if ( outTemp >= 43.4 ) {
                jQuery(".temp").css( "color", "rgba(218,113,113,1)" );
            }
        }
        
        function get_cardinal_direction(degree) {
            if (degree >= 0 && degree <= 11.25) {
                return "N";
            } else if (degree >= 11.26 && degree <= 33.75) {
                return "NNE";
            } else if (degree >= 33.76 && degree <= 56.25) {
                return "NE";
            } else if (degree >= 56.26 && degree <= 78.75) {
                return "ENE";
            } else if (degree >= 78.76 && degree <= 101.25) {
                return "E";
            } else if (degree >= 101.26 && degree <= 123.75) {
                return "ESE";
            } else if (degree >= 123.76 && degree <= 146.25) {
                return "SE";
            } else if (degree >= 146.26 && degree <= 168.75) {
                return "SSE";
            } else if (degree >= 168.76 && degree <= 191.25) {
                return "S";
            } else if (degree >= 191.26 && degree <= 213.75) {
                return "SSW";
            } else if (degree >= 213.76 && degree <= 236.25) {
                return "SW";
            } else if (degree >= 236.26 && degree <= 258.75) {
                return "WSW";
            } else if (degree >= 258.76 && degree <= 281.25) {
                return "W";
            } else if (degree >= 281.26 && degree <= 303.75) {
                return "WNW";
            } else if (degree >= 303.76 && degree <= 326.25) {
                return "NW";
            } else if (degree >= 326.26 && degree <= 348.75) {
                return "NNW";
            } else if (degree >= 348.76 && degree <= 360) {
                return "N";
            }
        }
        
        // Title case strings. https://stackoverflow.com/a/45253072/1177153
        function titleCase(str) {
            return str.toLowerCase().split(' ').map(function(word) {
                return word.replace(word[0], word[0].toUpperCase());
            }).join(' ');
        }
        
        // Disable AJAX caching
        jQuery.ajaxSetup({
            cache:false
        });
        
        #if $Extras.has_key("mqtt_websockets_enabled") and $Extras.mqtt_websockets_enabled == '1'
        //=================================//
        // Live website using MQTT enabled //
        //=================================//
        
        function ajaxweewx() {
            jQuery.getJSON("../json/weewx_data.json", update_weewx_data);
        };
        
        function ajaxforecast() {
            jQuery.getJSON("../json/darksky_forecast.json", update_forecast_data);
        };
        
        // Initial load of cached data
        function update_weewx_data( data ) {
            console.log("Updating weewx data");
            // Daily High Low
            high = data["day"]["outTemp"]["max"];
            low = data["day"]["outTemp"]["min"];
            jQuery(".high").html( high );
            jQuery(".low").html( low );
            
            // Barometer trending by finding a negative number
            count = ( data["current"]["barometer_trend"].match(/-/g) || [] ).length
            
            if ( count >= 1 ) {
                jQuery(".wx-barometer-trend").html( '<i class="fa fa-arrow-down barometer-down"></i>' );
            } else {
                jQuery(".wx-barometer-trend").html( '<i class="fa fa-arrow-up barometer-up"></i>' );
            }
            
            // Current wind gust
            jQuery(".curwindgust").text( parseFloat( data["current"]["windGust"] ).toFixed(1) );
            
            // Daily max gust span
            jQuery(".dailymaxgust").html( parseFloat( data["day"]["wind"]["max"] ).toFixed(1) );
            
            // Daily stats section
            jQuery(".dailystatshigh").html( data["day"]["outTemp"]["max"] );
            jQuery(".dailystatslow").html( data["day"]["outTemp"]["min"] );
            jQuery(".dailystatswind").html( data["day"]["wind"]["max"] );
            jQuery(".dailystatsuv").html( data["day"]["uv"]["max"] );
            jQuery(".dailystatsrain").html( data["day"]["rain"]["sum"] );
            jQuery(".dailystatsrainrate").html( data["day"]["rain"]["max"] );
            
            // Sunrise and Sunset            
            sunrise = moment(data["almanac"]["sunrise"], "HH:mm:ss A").format("h:mm A"); // Requires moment.js
            sunset = moment(data["almanac"]["sunset"], "HH:mm:ss A").format("h:mm A"); // Requires moment.js
            jQuery(".sunrise-value").html( sunrise );
            jQuery(".sunset-value").html( sunset );
            
            // Moon icon, phase and illumination percent
            switch ( data["almanac"]["moon"]["moon_phase"] ) {
                case "New Moon":
                    jQuery(".moon-icon").html( "<div class='wi wi-moon-alt-new'></div>" );
                    break;
                case "Waxing Crescent":
                    jQuery(".moon-icon").html( "<div class='wi wi-moon-alt-waxing-crescent-1'></div>" );
                    break;
                case "First Quarter":
                    jQuery(".moon-icon").html( "<div class='wi wi-moon-alt-first-quarter'></div>" );
                    break;
                case "Waxing Gibbous":
                    jQuery(".moon-icon").html( "<div class='wi wi-moon-alt-waxing-gibbous-3'></div>" );
                    break;
                case "Full Moon":
                    jQuery(".moon-icon").html( "<div class='wi wi-moon-alt-full'></div>" );
                    break;
                case "Waning Gibbous":
                    jQuery(".moon-icon").html( "<div class='wi wi-moon-alt-waning-gibbous-3'></div>" );
                    break;
                case "Last Quarter":
                    jQuery(".moon-icon").html( "<div class='wi wi-moon-alt-first-quarter'></div>" );
                    break;
                case "Waning Crescent":
                    jQuery(".moon-icon").html( "<div class='wi wi-moon-alt-waning-crescent-4'></div>" );
                    break;
            }
            jQuery(".moon-phase").html( titleCase( data["almanac"]["moon"]["moon_phase"] ) ); // Javascript function above
            jQuery(".moon-visible").html( "<strong>" + data["almanac"]["moon"]["moon_fullness"] + "%</strong> visible" );
        }
        
        function update_forecast_data( data ) {
            console.log("Updating forecast data");
            // WX Icon
            if ( data['currently']['icon'] == "partly-cloudy-night" ) {
                // partly-cloudy-night could also be clear-day
                jQuery("#wxicon").attr( "src", "../images/partly-cloudy-night.png" );
            } else {
                jQuery("#wxicon").attr( "src", "../images/" + data['currently']['icon'] + ".png" );
            }
            
            // Current observation text
            jQuery(".current-obs-text").html( data["currently"]["summary"] );
            
            // 8 day forecast
            var output_html = "";
            for (i = 0; i < data["daily"]["data"].length; i++) {
                var forecastDay = data["daily"]["data"][i];
                if ( data['daily']['data'][i]['icon'] == "partly-cloudy-night" ) {
                    var image_url = "../images/clear-day.png";
                } else { 
                    var image_url = "../images/"+data['daily']['data'][i]['icon']+".png";
                }
                
                var condition_text = "";
                switch ( data["daily"]["data"][i]["icon"] ) {
                    case "clear-day":
                        condition_text = "Clear";
                        break;
                    case "clear-night":
                        condition_text = "Clear";
                        break;
                    case "rain":
                        condition_text = "Rain";
                        break;
                    case "snow":
                        condition_text = "Snow";
                        break;
                    case "sleet":
                        condition_text = "Sleet";
                        break;
                    case "wind":
                        condition_text = "Windy";
                        break;
                    case "fog":
                        condition_text = "Fog";
                        break;
                    case "cloudy":
                        condition_text = "Overcast";
                        break;
                    case "partly-cloudy-day":
                        condition_text = "Partly Cloudy";
                        break;
                    case "partly-cloudy-night":
                        condition_text = "Clear"; // https://darksky.net/dev/docs/faq - So you can just treat partly-cloudy-night as an alias for clear-day.
                        break;
                    case "hail":
                        condition_text = "Hail";
                        break;
                    case "thunderstorm":
                        condition_text = "Thunderstorm";
                        break;
                    case "tornado":
                        condition_text = "Tornado";
                        break;
                }
                
                if ( i == 0 ) {
                    output_html += '<div class="col-sm-1-5 forecast-day">';
                    var weekday = "Today";
                } else {
                    output_html += '<div class="col-sm-1-5 forecast-day border-left">';
                    var weekday = moment.unix( data["daily"]["data"][i]["time"] ).format( "ddd M/D" ); // Requires moment.js
                }
                output_html += '<span id="weekday">'+weekday+'</span>';
                output_html += '<br>';
                output_html += '<div class="forecast-conditions">';
                output_html += '<img id="icon" src="'+image_url+'">';
                output_html += '<span class="forecast-condition-text">'+condition_text+'</span>';
                output_html += '</div>';
                output_html += '<span class="forecast-high">'+ parseFloat( data["daily"]["data"][i]["temperatureHigh"] ).toFixed(0) +'°</span> | <span class="forecast-low">'+ parseFloat( data["daily"]["data"][i]["temperatureLow"] ).toFixed(0) +'°</span>';
                output_html += '<br>';
                output_html += '<div class="forecast-precip">';
                if ( data["daily"]["data"][i].hasOwnProperty("precipType") && data["daily"]["data"][i]["precipType"] == "snow" ) {
                    output_html += '<div class="snow-precip">';
                    output_html += '<img src="../images/snowflake-icon-15px.png"> <span>'+ parseFloat( data["daily"]["data"][i]["precipAccumulation"] ).toFixed(0) +'<span> in';
                    output_html += '</div>';
                } else if ( data["daily"]["data"][i].hasOwnProperty("precipType") && data["daily"]["data"][i]["precipType"] == "rain" ) {
                    output_html += '<i class="wi wi-raindrop wi-rotate-45 rain-precip"></i> <span>'+ parseFloat( data["daily"]["data"][i]["precipProbability"] * 100 ).toFixed(0) +'%</span>';
                } else {
                    output_html += '<i class="wi wi-raindrop wi-rotate-45 rain-no-precip"></i> <span >0%</span>';
                }
                output_html += '</div>';
                output_html += '<div class="forecast-wind">';
                output_html += '<i class="wi wi-strong-wind"></i> '+ parseFloat( data["daily"]["data"][i]["windGust"] ).toFixed(0) + '$unit.label.windSpeed';
                output_html += '</div>';
                output_html += '</div>';
            }
            forecast_subtitle = moment.unix( data["currently"]["time"] ).format( 'MMMM D, YYYY, h:mm A' ); // August 14, 2018, 1:00 PM
            jQuery(".forecast-subtitle").text( "Last Updated on " + forecast_subtitle );
            jQuery(".forecasts").html( output_html );
        }
        
        // mqtt connect
        function connect(){
            console.log("Connecting to MQTT");
            reported = "Connecting to weather station real time data.";
            jQuery(".updated").text( reported );
            jQuery(".onlineMarker").hide();
            jQuery(".offlineMarker").hide();
            jQuery(".loadingMarker").show();
            
            client = new Paho.MQTT.Client("$Extras.mqtt_websockets_host", $Extras.mqtt_websockets_port, mqttclient);
            client.onConnectionLost = onConnectionLost;
            client.onMessageArrived = onMessageArrived;
            var options = {
                #if $Extras.has_key("mqtt_websockets_ssl") and $Extras.mqtt_websockets_ssl == '1'
                useSSL: true,
                #else
                useSSL: false,
                #end if
                onSuccess:onConnect,
                onFailure:onFailure
              }
            client.connect( options );
        }
        
        // mqtt connect callback
        function onConnect() {
            console.log("MQTT Connected. Subscribing.");
            reported = "Connected. Waiting for data.";
            jQuery(".updated").text( reported );
            jQuery(".onlineMarker").hide();
            jQuery(".offlineMarker").hide();
            jQuery(".loadingMarker").show();            
            client.subscribe( "$Extras.mqtt_websockets_topic" );
        }
        
        function onFailure() {
            var d = new Date();
            jQuery(".onlineMarker").hide();
            jQuery(".offlineMarker").show();
            jQuery(".loadingMarker").hide();
            jQuery(".updated").html( "Failed to connect to weather station. Retrying..." );
            setTimeout( connect, 10000 ); // Retry to connect in 10 seconds
            console.log( d.getTime() + ": Cannot connect to MQTT broker" );
        }

        // mqtt connection lost
        function onConnectionLost(responseObject) {
            var d = new Date();
            jQuery(".onlineMarker").hide();
            jQuery(".offlineMarker").show();
            jQuery(".loadingMarker").hide();
            jQuery(".updated").html( "Connection lost to the weather station. Retrying..." );
            setTimeout( connect, 10000 ); // Retry to connect in 10 seconds
            if (responseObject.errorCode !== 0) {
                console.log( d.getTime() + ": mqtt Connection Lost: "+responseObject.errorMessage);
            }
        }
        
        // new message from mqtt, process it
        function onMessageArrived(message) {
            update_current_wx( message.payloadString );
        }
        
        function inactive(){
            client.disconnect(); // Disconnect mqtt
            console.log("Inactive timer expired. MQTT Disconnected");
            jQuery(".onlineMarker").hide(); // Hide online beacon
            jQuery(".offlineMarker").show(); // Show offline beacon
            jQuery(".loadingMarker").hide(); // Hide loading beacon
            jQuery(".updated").html( "Live updates have stopped. <button type='button' class='btn btn-primary restart-interval'>Continue live updates</button>" );
        }
        
        // Handle MQTT message
        function update_current_wx(data) {
            //console.log( data );
            data = jQuery.parseJSON( data );
            
            // Updated time
            epoch = parseFloat( data["dateTime"] ).toFixed(0);
            updated = moment.unix(epoch).utcOffset($moment_js_utc_offset).format("MMMM D, YYYY, h:mm:ss a"); // requires moment.js
            //seconds_ago = moment(updated, "MMMM Do YYYY, h:mm:ss a").fromNow(); // "a few seconds ago || in a few seconds"
            updated_text = "Connected. Received " + updated;
            jQuery(".updated").html( updated_text );
            jQuery(".onlineMarker").show(); // Show the online beacon
            jQuery(".offlineMarker").hide(); // Hide offline beacon
            jQuery(".loadingMarker").hide(); // Hide loading beacon
            
            // This message is a weewx archive update. Update weewx data, forecast data and highcharts graphs
            if ( data.hasOwnProperty("interval_minute") ) {
                // Delays are recommended to allow the other skins to complete processing
                console.log("MQTT message indicates this is an archive interval.");
                setTimeout( ajaxweewx, 10000 ); // Update weewx data
                setTimeout( ajaxforecast, 10000 ); // Update forecast data
            }
            
            // Temperature F
            if ( data.hasOwnProperty("outTemp_F") ) {
                outTemp = parseFloat( data["outTemp_F"] ).toFixed(1);
                update_outtemp_F( outTemp );
                jQuery(".outtemp").html( outTemp );
            
                // Feels like temp as defined by NOAA's "Apparent Temperature" at: http://www.nws.noaa.gov/ndfd/definitions.htm
                //if ( data["outTemp_F"] <= 50 ) {
                //    jQuery(".feelslike").html( "Feels like: " + parseFloat( data["windchill_F"] ).toFixed(1) + " $unit.label.outTemp" );
                //} else if ( data["outTemp_F"] >= 80 ) {
                //    jQuery(".feelslike").html( "Feels like: " + parseFloat( data["heatindex_F"] ).toFixed(1) + " $unit.label.outTemp" );
                //} else {
                //    jQuery(".feelslike").html( "Feels like: " + parseFloat( data["outTemp_F"] ).toFixed(1) + " $unit.label.outTemp" );
                //}
            }
            
            // Temperature C
            if ( data.hasOwnProperty("outTemp_C") ) {
                outTemp = parseFloat( data["outTemp_C"] ).toFixed(1);
                update_outtemp_C( outTemp );
                jQuery(".outtemp").html( outTemp );
            }
            
            // Apparent Temperature US
            if ( data.hasOwnProperty("appTemp_F") ) {
                jQuery(".feelslike").html( "Feels like: " + parseFloat( data["appTemp_F"] ).toFixed(1) + " $unit.label.outTemp" );
            }

            // Apparent Temperature Metric
            if ( data.hasOwnProperty("appTemp_C") ) {
                jQuery(".feelslike").html( "Feels like: " + parseFloat( data["appTemp_C"] ).toFixed(1) + " $unit.label.outTemp" );
            }
            
            // Dewpoint US
            if ( data.hasOwnProperty("dewpoint_F") ) {
                jQuery(".wx-dewpoint-value").html( parseFloat(data["dewpoint_F"]).toFixed(1) + " $unit.label.outTemp" );
            }

            // Dewpoint Metric
            if ( data.hasOwnProperty("dewpoint_C") ) {
                jQuery(".wx-dewpoint-value").html( parseFloat(data["dewpoint_C"]).toFixed(1) + " $unit.label.outTemp" );
            }            
            
            // Wind
            if ( data.hasOwnProperty("windDir") ) {
                rotateThis( data["windDir"] );
                //jQuery(".wind-arrow").css( "transform", "rotate(" + data["windDir"] + "deg)" );
                jQuery(".curwinddeg").text( parseFloat( data["windDir"] ).toFixed(0) + "°" );
                jQuery(".curwinddir").text( get_cardinal_direction( parseFloat( data["windDir"] ).toFixed(0) ) );
            }
            // Windspeed US
            if ( data.hasOwnProperty("windSpeed_mph") ) {
                jQuery(".curwindspeed").text( parseFloat( data["windSpeed_mph"] ).toFixed(1) );
            }
            // Windspeed Metric
            if ( data.hasOwnProperty("windSpeed_kph") ) {
                jQuery(".curwindspeed").text( parseFloat( data["windSpeed_kph"] ).toFixed(1) );
            }
            // Windspeed METRICWX
            if ( data.hasOwnProperty("windSpeed_mps") ) {
                jQuery(".curwindspeed").text( parseFloat( data["windSpeed_mps"] ).toFixed(1) );
            }
            
            // Wind Gust US
            // May not be provided in mqtt, but just in case.
            if ( data.hasOwnProperty("windGust_mph") ) {
                jQuery(".curwindgust").text( parseFloat( data["windGust_mph"] ).toFixed(1) );
            }
            // Wind Gust Metric
            if ( data.hasOwnProperty("windGust_kph") ) {
                jQuery(".curwindgust").text( parseFloat( data["windGust_kph"] ).toFixed(1) );
            }
            // Wind Gust METRICWX
            if ( data.hasOwnProperty("windGust_mps") ) {
                jQuery(".curwindgust").text( parseFloat( data["windGust_mps"] ).toFixed(1) );
            }
            
            // Barometer US
            if ( data.hasOwnProperty("altimeter_inHg") ) {
                jQuery(".wx-barometer-value").text( parseFloat( data["altimeter_inHg"] ).toFixed(2) + " $unit.label.pressure" );
            }
            // Barometer Metric
            if ( data.hasOwnProperty("altimeter_mbar") ) {
                jQuery(".wx-barometer-value").text( parseFloat( data["altimeter_mbar"] ).toFixed(2) + " $unit.label.pressure" );
            }
            
            // Humidity
            if ( data.hasOwnProperty("outHumidity") ) {
                jQuery(".wx-humidity-value").text( parseFloat( data["outHumidity"] ).toFixed(1) + "$unit.label.outHumidity" );
            }
            
            // Windchill US
            if ( data.hasOwnProperty("windchill") ) {
                jQuery(".curwindchill").text( parseFloat( data["windchill"] ).toFixed(1) + "$unit.label.outTemp" );
            }
            // Windchill Metric
            if ( data.hasOwnProperty("windchill_C") ) {
                jQuery(".curwindchill").text( parseFloat( data["windchill_C"] ).toFixed(1) + "$unit.label.outTemp" );
            }
            
            // Rain Day US
            if ( data.hasOwnProperty("dayRain_in") ) {
                jQuery(".wx-rain-value").text( parseFloat( data["dayRain_in"] ).toFixed(2) + " $unit.label.rain" );
            }
            // Rain Day Metric
            if ( data.hasOwnProperty("dayRain_cm") ) {
                jQuery(".wx-rain-value").text( parseFloat( data["dayRain_cm"] ).toFixed(2) + " $unit.label.rain" );
            }
            // Rain Day METRICWX
            if ( data.hasOwnProperty("dayRain_mm") ) {
                jQuery(".wx-rain-value").text( parseFloat( data["dayRain_mm"] ).toFixed(2) + " $unit.label.rain" );
            }
            
            // Rain rate US
            if ( data.hasOwnProperty("rainRate_inch_per_hour") ) {
                jQuery(".wx-rainrate-value").html( "&nbsp;" + parseFloat( data["rainRate_inch_per_hour"] ).toFixed(2) + " $unit.label.rainRate" );
            }
            // Rain rate Metric
            if ( data.hasOwnProperty("rainRate_cm_per_hour") ) {
                jQuery(".wx-rainrate-value").html( "&nbsp;" + parseFloat( data["rainRate_cm_per_hour"] ).toFixed(2) + " $unit.label.rainRate" );
            }
            // Rain rate METRICWX
            if ( data.hasOwnProperty("rainRate_mm_per_hour") ) {
                jQuery(".wx-rainrate-value").html( "&nbsp;" + parseFloat( data["rainRate_mm_per_hour"] ).toFixed(2) + " $unit.label.rainRate" );
            }
            
            // UV
            if ( data.hasOwnProperty("UV") ) {
                jQuery(".wx-uv-value").text( parseFloat( data["UV"] ).toFixed(2) );
            }
            
            // Sun Radiation
            if ( data.hasOwnProperty("radiation_Wpm2") ) {
                jQuery(".wx-radiation-value").html( parseFloat( data["radiation_Wpm2"] ).toFixed(2) + " $unit.label.radiation" );
            }
        };
        #end if
    </script>

## If bold_kiosk_font is true invoke the ".pi .site-inner-bold" class in style.css which will set the font-style to bold
 #if $Extras.pi_kiosk_bold == "true"  
		<div class="site-inner-bold site-inner">
 #else
		<div class="site-inner">
 #end if
	<div class="content-sidebar-wrap">
	
	<article class="weewx page type-page status-publish entry" itemscope="" itemtype="http://schema.org/CreativeWork">
		
		<div class="entry-content wx-content" itemprop="text">
			<!-- Top bar with city and share -->
			<div class="wx-stn-info-container">
				<!-- Updated time ago -->
				<div class="updated-wrapper">
                    <div class="onlineMarkerOuter">
                        <span class="loadingMarker" style="display:none"></span>
                        <span class="onlineMarker" style="display:none"></span>
                        <span class="offlineMarker" style="display:none"></span>
                    </div>
					<div class="updated"></div><!-- AJAX -->
				</div>
				<div class="clear"></div>
			</div>
			
			<!-- First row with temperature, observation data and radar -->
			<div class="row">
                <!-- Temperature -->
                
                <div class="col-xs-6 temp-observation">
                    <div class="obs-group">
                        <img src="$relative_url/images/$current_obs_icon"><!-- AJAX -->
                        <div class="outtemp_outer"><span class="outtemp">$current.outTemp.formatted</span><sup class="outtempunitlabelsuper">$unit.label.outTemp</sup></div><!-- AJAX -->
                        <div class="current-obs-text">$current_obs_summary</div><!-- AJAX -->
                    </div>
                    <div class="clear"></div>
                
                    <div class="tempstats">
                        <div class="feelslike"></div><!-- AJAX -->
						<div class="highlow">
							High <span class="high">$day.outTemp.max.format("%.1f")</span> | Low <span class="low">$day.outTemp.min.format("%.1f")</span>
						</div><!-- AJAX -->
                    </div>
                    
                    <div class="station-observations weather-obs-top">
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>Humidity</td>
                                    <td>
                                        <span class="wx-data-humidity">
                                            <span class="wx-humidity-value">$current.outHumidity</span><!-- AJAX -->
                                        </span>
                                    </td>
                                </tr>                            
                                <tr>
                                    <td>Rainfall</td>
                                    <td>
                                        <span class="wx-rain-data">
											<span class="wx-rain-value">$day.rain.sum</span><!-- AJAX -->
                                            <span class="wx-rainrate-value border-left">&nbsp;$current.rainRate</span><!-- AJAX -->
                                        </span>
                                    </td>
                                </tr>
								<tr>
									<td>Barometer</td>
									<td>
										<span class="wx-barometer-data">
											<span class="wx-barometer-value">$current.barometer.format("%.2f")</span><!-- AJAX -->
										</span>
										<span class="wx-barometer-trend">
                                            #if $trend.barometer == "N/A"
                                            &nbsp;
                                            #else if "-" in str($trend.barometer)
                                            <i class="fa fa-arrow-down barometer-down"></i>
                                            #else
                                            <i class="fa fa-arrow-up barometer-up"></i>
                                            #end if
                                        </span>
									</td>
								</tr>
                            #if $day.UV.has_data
                                <tr>
                                    <td>UV</td>
                                    <td>
                                        <span class="wx-uv-data">
                                            <span class="wx-uv-value">$current.UV</span><!-- AJAX --> | <span class="wx-radiation-value">$current.radiation</span><!-- AJAX -->
                                        </span>
                                    </td>
                                </tr>
                            #end if
                            </tbody>
                        </table>
                    </div>	
                    
                </div>

                <div class="col-xs-6 wind_col">
                    <div class="wind_data">
                                <div class="compass">
                                    <div class="direction">
                                        <span class="curwinddir">
                                            #if $current.windDir.ordinal_compass == "N/A"
                                            --
                                            #else
                                            $current.windDir.ordinal_compass
                                            #end if
                                        </span>
                                        <span class="curwinddeg">$current.windDir.format("%.0f")</span>
                                    </div>
                                    <div class="arrow"></div>
                                </div>
                    </div>
                    
                    <table class="wind-table">
                        <tbody>
                            <tr>
                                <td class="windtext">Speed</td>
                                <td class="windtext border-left">Gust</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="curwindspeed">
                                        $current.windSpeed.toString(useThisFormat="%.1f", addLabel=False, NONE_string="N/A")
                                    </span>
                                </td><!-- AJAX -->
                                <td class="border-left">&nbsp;
                                    <span class="curwindgust">
                                        $current.windGust.toString(useThisFormat="%.1f", addLabel=False, NONE_string="N/A")
                                    </span>
                                </td><!-- AJAX -->
                            </tr>
                        </tbody>
                    </table>
                    
                    <div class="maxgustouter">
                        Today Max: <span class="dailymaxgust">$day.wind.max</span> <!-- AJAX -->
                    </div>
                
                
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <div class="row small-almanac">
                                        <div class="col-sm-5 sun">
                                            <span class="sunrise-set-image"><img src="../images/sunrise.png"></span><span class="sunrise-value">$almanac.sunrise.format("%-I:%M %p")</span><!-- AJAX -->
                                            &nbsp;
                                            <span class="sunrise-set-image"><img src="../images/sunset.png"></span><span class="sunset-value">$almanac.sunset.format("%-I:%M %p")</span><!-- AJAX -->
                                        </div>
                                        <div class="col-sm-7 moon">
                                            <div class="moon-container">
                                                <span class="moon-icon">
                                                    #if $almanac.moon_index == 0
                                                        <div class='wi wi-moon-alt-new'></div>
                                                    #else if $almanac.moon_index == 1
                                                        <div class='wi wi-moon-alt-waxing-crescent-1'></div>
                                                    #else if $almanac.moon_index == 2
                                                        <div class='wi wi-moon-alt-first-quarter'></div>
                                                    #else if $almanac.moon_index == 3
                                                        <div class='wi wi-moon-alt-waxing-gibbous-3'></div>
                                                    #else if $almanac.moon_index == 4
                                                        <div class='wi wi-moon-alt-full'></div>
                                                    #else if $almanac.moon_index == 5
                                                        <div class='wi wi-moon-alt-waning-gibbous-3'></div>
                                                    #else if $almanac.moon_index == 6
                                                        <div class='wi wi-moon-alt-first-quarter'></div>
                                                    #else if $almanac.moon_index == 7
                                                        <div class='wi wi-moon-alt-waning-crescent-4'></div>
                                                    #end if
                                                </span><!-- AJAX -->
                                                <span class="moon-phase">#echo $almanac.moon_phase.title()#</span><!-- AJAX -->
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                
                </div>
                    
                <div class="clear"></div>
                        
			</div>
			<!-- End of first row -->
            
			<div class="clear"></div>
			
		</div> <!-- End entry-content -->
		
	</article>

    </div>
</div>

<!-- close div and body tags from pi-header.html.tmpl -->
</div>
</body>
