<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <head >
        <meta charset="UTF-8" />
        <title>$station.location Weather Conditions</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="description" content="Weather conditions for $station.location as observed by a personal weather station and the weewx weather software"/>
        <meta name="robots" content="noodp"/>
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="$station.location Weather Conditions" />
        <meta property="og:description" content="Weather conditions for $station.location as observed by a personal weather station and the weewx weather software" />
        <meta property="og:site_name" content="$station.location Weather Conditions" />

        <link rel='dns-prefetch' href='//code.highcharts.com' />
        <link rel='dns-prefetch' href='//fonts.googleapis.com' />
        <link rel='dns-prefetch' href='//maxcdn.bootstrapcdn.com' />
        <link rel='dns-prefetch' href='//cdnjs.cloudflare.com' />

        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700&#038;ver=1.0' type='text/css' media='all' />
        <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' type='text/css' media='all' />
        <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css?ver=4.7.4' type='text/css' media='all' />
        <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css?ver=4.7.4' type='text/css' media='all' />
        <link rel='stylesheet' href='../style.css?ver=#echo int( time.time() ) #' type='text/css' media='all' />
        
        <!--[if lt IE 9]>
        <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js'></script>
        <![endif]-->
        <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
        <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"></script>
                        
        <link rel="icon" href="../favicon.ico" />

    </head>
    
    <body class="pi page full-width-content" itemscope itemtype="https://schema.org/WebPage">

        <div class="site-container">

