## Determine initial skin theme CSS class from config
## Auto theme setting determines which CSS class to use based on the hour
#set $bodyTheme = ""
#set $themeSwitchChecked = ""
#if $Extras.pi_theme == "dark"
    #set $bodyTheme = "dark"
    #set $themeSwitchChecked = "checked"
#elif $Extras.pi_theme == "light"
    #set $bodyTheme = "light"
    #set $themeSwitchChecked = ""
#elif $Extras.pi_theme == "auto"
    #import datetime
    #set $now = datetime.datetime.now()
    #set $nowHour = $now.hour
    #set $sunrise_hour = datetime.datetime.fromtimestamp($almanac.sunrise.raw).strftime('%H')
    #set $sunset_hour = datetime.datetime.fromtimestamp($almanac.sunset.raw).strftime('%H')
        ##if $sunrise_hour <= $nowHour < $sunset_hour ## This works but to keep it inline with JavaScript the below works too
        #if int($sunrise_hour) <= int($nowHour) and int($nowHour) < int($sunset_hour)
            #set $bodyTheme = "light"
            #set $themeSwitchChecked = ""
        #else
            ## Night time, use dark mode
            #set $bodyTheme = "dark"
            #set $themeSwitchChecked = "checked"
        #end if
#end if

## Setup the relative URLs. Use . for homepage and .. for anything in a subfolder. 
#if $page == "home"
#set global $relative_url = "."
#else
#set global $relative_url = ".."
#end if

<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <head >
        <meta charset="UTF-8" />
        <title>$station.location Weather Conditions</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="description" content="Weather conditions for $station.location as observed by a personal weather station and the weewx weather software"/>
        <meta name="robots" content="noodp"/>
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="$station.location Weather Conditions" />
        <meta property="og:description" content="Weather conditions for $station.location as observed by a personal weather station and the weewx weather software" />
        <meta property="og:site_name" content="$station.location Weather Conditions" />

        <link rel='dns-prefetch' href='//code.highcharts.com' />
        <link rel='dns-prefetch' href='//fonts.googleapis.com' />
        <link rel='dns-prefetch' href='//maxcdn.bootstrapcdn.com' />
        <link rel='dns-prefetch' href='//cdnjs.cloudflare.com' />

        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700&#038;ver=1.0' type='text/css' media='all' />
        <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' type='text/css' media='all' />
        <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css?ver=4.7.4' type='text/css' media='all' />
        <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css?ver=4.7.4' type='text/css' media='all' />
        <link rel='stylesheet' href='../style.css?ver=#echo int( time.time() ) #' type='text/css' media='all' id="belchertownStyle" />
        <link rel='stylesheet' href='../belchertown-dark.min.css?ver=#echo int( time.time() ) #' type='text/css' media='all' id="belchertownStyle" />
        <link rel='stylesheet' href='../custom.css?ver=#echo int( time.time() ) #' type='text/css' media='all' id="belchertownCustomStyle" />
        
        <!--[if lt IE 9]>
        <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js'></script>
        <![endif]-->
        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
        <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"></script>
        <script type='text/javascript' src='//code.highcharts.com/stock/7.1.2/highstock.js'></script>
        <script type='text/javascript' src='//code.highcharts.com/7.1.2/highcharts-more.js'></script>
        <script type='text/javascript' src='//code.highcharts.com/7.1.2/modules/exporting.js'></script>
        <script type='text/javascript' src='$relative_url/js/belchertown.js?#echo int( time.time() )#'></script>
        <script>
            // Set the session variables for the theme
            if ( sessionStorage.getItem('pi_theme') === null ) {
                sessionStorage.setItem('pi_theme', '$Extras.theme');
            }
            if ( sessionStorage.getItem('pi_currentTheme') === null ) {
                sessionStorage.setItem('pi_currentTheme', '$bodyTheme');
            }
        </script>

        <link rel="icon" href="../favicon.ico" />
        
        #if $Extras.has_key('googleAnalyticsId')
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=$Extras.googleAnalyticsId"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '$Extras.googleAnalyticsId');
        </script>
        #end if

    </head>
    
    <body class="pi page full-width-content $bodyTheme" itemscope itemtype="https://schema.org/WebPage">

        <div class="site-container">

